.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var( --header-height);
    border-bottom: 1px solid var(--color-border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 0 var(--content-padding);
}

.logoImg {
    height: 40px;
}

.favouriteBtn {
    color: var(--color-text);
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-medium);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    &Icon {
        color: var(--color-primary);
    }
}